@font-face {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    src: url();
}

body {
    font: 18px/36px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to top, #6c55e1, #fff, #fff);
}

.header {
    background: #fff;
    height: 80px;
    width: 100%;
}

label.icon {
    color: #6c55e1;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.header ul {
    float: right;
    margin-right: 20px;
}

.header ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.header ul li a {
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

a.main, .header ul li a:hover {
    background: #000;
    transition: .3s;
}

.checkbut {
    font-size: 30px;
    color: #6c55e1;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check {
    display: none;
}

h1 {
    font-size: 40px;
    margin: 50px 0;
    text-align: center;
}

.container {
    width: 400px;
    height: 800px;
    background-color: #fff;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(108,85,225,255);
    border-radius: 5px;
    margin-bottom: 20px;
}

img {
    width: 100px;
    height: 100px;
}

.team li {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #6c55e1;
    float: left;
    margin-right: 15px;
    margin-left: 55px;
    position: relative;
    margin-top: 20px;
}

.team li img {
    border-radius: 50%;
}

.team li span {
    display: block;
    width: 100px;
    height: 100px;
    background-color: rgba(200,200,200,.5);
    border-radius: 50%;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 100px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transition: .5s;
}

.team .bintang {
    margin-left: 150px;
}

.team li a:hover span {
    opacity: 1;
}

.clear {
    clear: both;
}

/*list*/

.dropdownmenu ul, .dropdownmenu li {
    margin-top: 5px;
    padding: 0;
}

.dropdownmenu ul {
    background-color: #fff;
    list-style: none;
    width: 100%; 
}

.dropdownmenu li {
    float: left;
    position: relative;
    width: 100px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.dropdownmenu a {
    background-color: #6c55e1;
    color: #fff;
    display: block;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    transition: all .25s ease;
    border-radius: 10px;
}

.dropdownmenu li:hover a {
    background-color: #fff;
    color: #000;
}

#submenu {
    right: 45px;
    opacity: 0;
    position: absolute;
    top: 40px;
    visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu {
    opacity: 1;
    top: 30px;
    visibility: visible;
}

#submenu li {
    float: none;
    width: 100%;
}

#submenu a:hover {
    background-color: #fff;
    color: #6c55e1; 
}

#submenu a {
    background-color: #6c55e1; 
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.dropdownmenu img {
    width: 50px;
    height: 50px;
}

/*email*/

.contact {
    width: 400px;
    height: 600px;
    background-color: #fff;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(108,85,225,255);
    border-radius: 5px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-weight: bold;
}

form {
    margin: 40px;
}

.input {
    width: 300px;
    height: 40px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #6c55e1;
    border-radius: 10px;
    outline: none;
}

.areatext {
    height: 150px;
    padding-top: 5px;
}

.btn {
    border-radius: 10px;
    color: #6c55e1;
    margin-top: 9px;
    padding: 20px;
    background-color: #fff;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.kirim {
    opacity: 0;
    padding-bottom: 10px;
    height: 60px;
    width: 60px;
    display: block;
    text-align: center;
}

.kirim:hover {
    opacity: 1;
    padding-bottom: 10px;
    height: 60px;
    width: 60px;
    display: block;
    text-align: center;
}

.btn:hover {
    background-color: #fff;
    transition: .2s;
    box-shadow: 5px 5px #6c55e1; 
}

.footer {
    width: auto;
    height: 30px;
    background-color: #725ce2;
    text-align: center;
    font-size: 13px;
}

.footer a {
    text-decoration: none;
    color: #000;
    font-style: italic;
}

.footer a:hover {
    color: #fff;
    transition: .5s;
}


/*==============  GANTI RESOLUSI  ==============*/
@media only screen and (min-width: 768px) {

    .header {
        background: #fff;
        height: 80px;
        width: 100%;
    }

    label.icon {
        color: #6c55e1;
        font-size: 35px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
    }

    .header ul {
        float: right;
        margin-right: 20px;
    }

    .header ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

    .header ul li a {
        color: #6c55e1;
        font-size: 17px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .header ul li a.main {
        color: #fff;
    }

    a.main, .header ul li a:hover {
        background: #6c55e1;
        transition: .3s;
        color: #fff;
    }

    .checkbut {
        display: none;
    }

    h1 {
        font-size: 80px;
        margin: 50px 0;
        text-align: center;
    }

    .container {
        width: 800px;
        height: 370px;
        background-color: #fff;
        margin-bottom: 20px;
        padding: 30px; 
        box-shadow: 0 3px 0 3px rgba(108,85,225,255);
        border-radius: 0 0 5px 5px;
    }

    img {
        width: 120px;
        height: 120px;
    }
    

    .team li {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 5px solid #6c55e1;
        float: left;
        margin-right: 15px;
        margin-left: 15px;
        position: relative;
    }
    
    .team li img {
        border-radius: 50%;
    }
    
    .team li span {
        display: block;
        width: 120px;
        height: 120px;
        background-color: rgba(200,200,200,.5);
        border-radius: 50%;
        position: absolute;
        top: 0;
        text-align: center;
        line-height: 120px;
        color: #333;
        text-shadow: 1px 1px 1px #ddd;
        opacity: 0;
        transition: .5s;
    }

    .team .bintang {
        margin-left: 15px;
    }
    
    .dropdownmenu li {
        float: left;
        position: relative;
        width: 80px;
        margin-left: 40px;
        margin-right: 40px;
        text-align: center;
    }

    .dropdownmenu li:hover a {
        background-color: #fff;
        color: #6c55e1;
    }

    
    #submenu {
        right: 38px;
        opacity: 0;
        position: absolute;
        top: 35px;
        visibility: hidden;
        z-index: 1;
    }
    
    li:hover ul#submenu {
        opacity: 1;
        top: 30px;
        visibility: visible;
    }
    
    #submenu li {
        float: none;
        width: 100%;
    }
    
    #submenu a:hover {
        background-color: #6c55e1;
        color: #fff; 
    }
    
    #submenu a {
        background-color: #fff;
        width: 40px;
        height: 40px; 
        border-radius: 50px;
    }
    
    .dropdownmenu img {
        width: 40px;
        height: 40px;
    }

    .contact {
        width: 800px;
        height: 500px;
        background-color: #fff;
        margin: auto;
        padding: 30px;
        box-shadow: 0 0 3px 3px rgba(108,85,225,255);
        border-radius: 5px 5px 0 0;
    }

    .input {
        width: 400px;
        height: 30px;
        display: block;
        margin-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid #6c55e1;
        border-radius: 10px;
        outline: none;
    }

    .areatext {
        height: 150px;
        padding-top: 5px;
    }

    .footer {
        width: auto;
        height: 50px;
        background-color: #7862e3;
        text-align: center;
        font-size: 15px;
        display: block;
    }

}


@media (max-width: 916px) {
    .checkbut{
        display: block;
      }
      .header ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #6c55e1;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }
      .header ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
      .header ul li a{
        font-size: 20px;
      }
      .header ul li a:hover, .header ul li a.main{
        background: none;
        color: #000;
      }
      #check:checked ~ ul{
        left: 0;
      }
}